<%- include("./partials/header") %>

<% for (let cluckr of cluckrs) { %> 
<div class="card mb-4">
  <img src="<%= cluckr.img_url %>" alt="" class="card-img-top">

  <div class="card-body">
    <h4 class="card-title">
      <%= username %>
    </h4>
    <p class="card-text">
      <%= cluckr.content %>
    </p>
  </div>
</div>
<% } %>
    


<%- include("./partials/footer") %>